ul.jstList {
  padding-left: 15px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

li.jstItem {
  padding-left: 0px;
  list-style: none;
  position: relative;
}

.jstCollapse::before {
  content: "-";
}

.jstExpand::before {
  content: "+";
}

.jstCollapse {
  user-select: none;
  cursor: pointer;
  padding: 0 2px;
}

.jstExpand {
  user-select: none;
  cursor: pointer;
  padding: 0 2px;
}

.jstProperty {
  color: #666;
  word-wrap: break-word;
}

.jstBracket {
  white-space: pre-wrap;
}

.jstComma {
  white-space: pre-wrap;
}

.jstTree {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 400;
  font-size: 10px;
}

.jstBool {
  color: #2525cc;
}

.jstNull {
  color: #d0d0d0;
}

.jstDate {
  color: #ce904a;
}

.jstNull {
  color: #808080;
}

.jstNum {
  color: #d036d0;
}

.jstStr {
  color: #2db669;
}

.jstCollapsed {
  display: none;
}
