/****************
 * Modal styles *
 ****************/

.dropdown-menu > li > a.inspector-modal-select-option.active:hover,
.dropdown-menu > li > a.inspector-modal-select-option.active,
.dropdown-menu > li > a.inspector-modal-select-option:hover {
  background-color: #606060;
  background-image: none;
  color: white;
}

.dropdown-menu > li > a.inspector-modal-select-option {
  transition: background-color 0.3s ease-in-out;
  border: thin solid transparent;
  justify-content: space-between;
  background-color: #787878;
  background-image: none;
  padding: 15px 16px;
  line-height: 18px;
  font-weight: 500;
  font-size: 13px;
  color: white;
  display: flex;
  outline: 0;
}

.bootstrap-select > .inspector-modal-select:focus,
.bootstrap-select > .inspector-modal-select:hover,
.bootstrap-select.open > .inspector-modal-select {
  background-color: #787878;
  outline: 0 !important;
}

@media only screen and (max-width: 355px) {
  .inspector-modal-footer {
    flex-flow: column;
    min-height: 85px;
  }
}

@media only screen and (min-width: 355px) {
  .inspector-modal-footer {
    flex-flow: row;
    min-height: 0;
  }
}

.inspector-modal-footer > .btn-accept:disabled {
  filter: grayscale(100%);
  opacity: 0.6;
  outline: 0;
}

.inspector-modal-footer > .btn-cancel:disabled {
  filter: grayscale(100%);
  opacity: 0.6;
  outline: 0;
}

.inspector-modal-form > div > textarea,
.inspector-modal-form > div > input {
  line-height: 18px;
  width: 100%;
}

.inspector-modal-form > div > textarea {
  min-height: 106px;
  padding: 2px 2px;
  resize: vertical;
}

.inspector-modal-form > div > input {
  min-height: 24px;
  padding: 1px 1px;
  resize: initial;
}

.inspector-modal-select.disabled {
  background-color: #606060 !important;
  opacity: 0.8;
}

.inspector-modal-select:focus {
  color: white;
}

.inspector-modal-select:hover {
  color: white;
}

.inspector-modal-content {
  border: 1px solid #f7f7f8;
  background-color: white;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  pointer-events: all;
  position: relative;
  padding: 18px 18px;
  user-select: none;
  margin: 0 8px;
}

.inspector-modal-select {
  transition: all 0.3s ease-in-out;
  background-color: #606060;
  letter-spacing: -0.2px;
  border-bottom: none;
  padding: 15px 16px;
  line-height: 18px;
  border-radius: 0;
  font-weight: 500;
  font-size: 13px;
  color: white;
  outline: 0;
}

.inspector-modal-header {
  text-align: center;
  line-height: 18px;
  font-weight: bold;
  font-size: 16px;
  color: #606060;
}

.inspector-modal-footer {
  justify-content: space-between;
  align-items: normal;
  display: flex;
}

.inspector-modal-body {
  justify-content: space-between;
  flex-direction: column;
  background: #f7f7f8;
  align-items: center;
  margin: 15px 0 30px;
  padding: 15px 20px;
  min-height: 200px;
  display: flex;
}

.inspector-modal-form {
  flex-direction: column;
  display: flex;
  width: 100%;
}