/* Modal styles */

.dropdown-menu > li > .inspector-modal-select-option.active:hover,
.dropdown-menu > li > .inspector-modal-select-option.active,
.dropdown-menu > li > .inspector-modal-select-option:hover,
.dropdown-menu > li > .inspector-modal-select-option:focus {
  background: #606060;
  color: #fff;
}

.dropdown-menu > li > .inspector-modal-select-option {
  border: thin solid transparent;
  justify-content: space-between;
  background: #787878;
  padding: 12px 12px;
  line-height: 17px;
  font-size: 13px;
  color: #fff;
  display: flex;
  outline: 0;
}

.bootstrap-select > .inspector-modal-select:focus,
.bootstrap-select > .inspector-modal-select:hover,
.bootstrap-select.open > .inspector-modal-select {
  background-color: #787878;
  outline: 0 !important;
}

@media only screen and (max-width: 355px) {
  .inspector-modal-footer {
    flex-flow: column;
    min-height: 85px;
  }
}

@media only screen and (min-width: 355px) {
  .inspector-modal-footer {
    flex-flow: row;
    min-height: 0;
  }
}

.inspector-modal-footer > button:disabled {
  filter: grayscale(100%);
  opacity: 0.6;
  outline: 0;
}

.inspector-modal-form > div > textarea,
.inspector-modal-form > div > input {
  letter-spacing: -0.2px;
  padding: 9px 12px;
  line-height: 18px;
  max-height: 38vh;
  color: #606060;
  width: 100%;
  outline: 0;
  border: 0;
}

.inspector-modal-form .pretty input:checked~.state label:before {
  border-color: #9d996c;
}

.inspector-modal-form .pretty input:checked~.state label:after {
  background-color: #9d996c !important;
}

.inspector-modal-form > div > textarea {
  min-height: 36px;
}

.inspector-modal-form > div > input {
  min-height: 24px;
}

.inspector-modal-form.invalid > div > textarea,
.inspector-modal-form.invalid > div > input {
  background: rgba(216, 105, 95, 0.16);
}

.inspector-modal-form.invalid > span {
  display: block;
}

.inspector-modal-form.invalid {
  border-color: #d8695f;
}

.inspector-modal-form > span {
  border: thin solid #d8695f;
  background: #d8695f;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  display: none;
  padding: 4px;
  color: #fff;
}

.inspector-modal-form > div {
  flex-flow: column;
  display: flex;
}

.inspector-modal-tools > button {
  border: 1px solid #d9d9d9;
  justify-content: center;
  letter-spacing: -0.2px;
  align-items: center;
  background: #fff;
  line-height: 15px;
  font-size: 12px;
  padding: 12px;
  display: flex;
  outline: 0;
}

.inspector-modal-header > button {
  background: transparent;
  position: absolute;
  display: flex;
  padding: 0;
  outline: 0;
  border: 0;
  right: 0;
  top: -2px;
}

.inspector-modal-tools:not(.open) > [data-toggle] > svg:last-of-type {
  display: none;
}

.inspector-modal-tools.open > [data-toggle] > svg:first-of-type {
  display: none;
}

.inspector-modal-tools.open > [data-toggle] {
  border-color: #606060;
  background: #3D3F42;
}

.inspector-modal-tools > ul > li > a:hover {
  background: #606060;
}

.inspector-modal-tools > ul > li > a:focus {
  background: #606060;
}

.inspector-modal-tools > ul > li > a > svg {
  margin-right: 10px;
}

.inspector-modal-tools > ul > li > a {
  padding: 10px 20px 10px 10px;
  -webkit-user-drag: none;
  letter-spacing: -0.2px;
  background: #3D3F42;
  align-items: center;
  line-height: 15px;
  font-size: 12px;
  display: flex;
  color: #fff;
  outline: 0;
}

.inspector-modal-header > h4 + h6 {
  margin-top: 3px;
}

.inspector-modal-header > h4 {
  opacity: 1.0;
  margin: 0;
}

.inspector-modal-header > h6 {
  opacity: 0.5;
  margin: 0;
}

.inspector-modal-select.disabled {
  background-color: #606060 !important;
  opacity: 0.8;
}

.inspector-modal-select:focus {
  color: #fff;
}

.inspector-modal-select:hover {
  color: #fff;
}

.inspector-modal-description {
  border: 1px dashed #606060;
  background: #f7f7f8;
  align-items: center;
  padding: 12px 14px;
  line-height: 18px;
  margin-top: 20px;
  color: #606060;
  display: flex;
}

.inspector-modal-content {
  background-color: #fff;
  -webkit-user-drag: none;
  letter-spacing: -0.2px;
  position: relative;
  user-select: none;
  flex-flow: column;
  padding: 24px;
  display: flex;
  margin: 0 8px;
}

.inspector-modal-select {
  background-color: #606060;
  letter-spacing: -0.2px;
  border-bottom: none;
  padding: 12px 12px;
  line-height: 17px;
  border-radius: 0;
  font-size: 13px;
  color: #fff;
  outline: 0;
}

.inspector-modal-header {
  position: relative;
  line-height: 18px;
  font-weight: bold;
  font-size: 16px;
  color: #606060;
}

.inspector-modal-footer {
  justify-content: space-between;
  display: flex;
}

.inspector-modal-body {
  flex-flow: column;
  padding: 20px 0;
  display: flex;
}

.inspector-modal-form {
  border: thin solid #d9d9d9;
  border-bottom: 0;
  border-top: 0;
}
