/* Modal styles */

.dropdown-menu > li > .inspector-modal-select-option.active:hover,
.dropdown-menu > li > .inspector-modal-select-option.active,
.dropdown-menu > li > .inspector-modal-select-option:hover {
  background-color: #606060;
  background-image: none;
  color: #fff;
}

.dropdown-menu > li > .inspector-modal-select-option {
  transition: background-color 0.3s ease-in-out;
  border: thin solid transparent;
  justify-content: space-between;
  background-color: #787878;
  background-image: none;
  padding: 15px 16px;
  line-height: 18px;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  display: flex;
  outline: 0;
}

.bootstrap-select > .inspector-modal-select:focus,
.bootstrap-select > .inspector-modal-select:hover,
.bootstrap-select.open > .inspector-modal-select {
  background-color: #787878;
  outline: 0 !important;
}

@media only screen and (max-width: 355px) {
  .inspector-modal-footer {
    flex-flow: column;
    min-height: 85px;
  }
}

@media only screen and (min-width: 355px) {
  .inspector-modal-footer {
    flex-flow: row;
    min-height: 0;
  }
}

.inspector-modal-footer > button:disabled {
  filter: grayscale(100%);
  opacity: 0.6;
  outline: 0;
}

.inspector-modal-form > div > textarea,
.inspector-modal-form > div > input {
  line-height: 18px;
  padding: 2px 2px;
  resize: none;
  width: 100%;
  border: 0;
}

.inspector-modal-form > div > textarea {
  min-height: 106px;
}

.inspector-modal-form > div > input {
  min-height: 24px;
}

.inspector-modal-select.disabled {
  background-color: #606060 !important;
  opacity: 0.8;
}

.inspector-modal-select:focus {
  color: #fff;
}

.inspector-modal-select:hover {
  color: #fff;
}

.inspector-modal-content {
  border: 1px solid #f6f6f6;
  background-color: #fff;
  -webkit-user-drag: none;
  position: relative;
  padding: 25px 24px;
  user-select: none;
  flex-flow: column;
  display: flex;
  margin: 0 8px;
}

.inspector-modal-select {
  transition: all 0.3s ease-in-out;
  background-color: #606060;
  letter-spacing: -0.2px;
  border-bottom: none;
  padding: 15px 16px;
  line-height: 18px;
  border-radius: 0;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  outline: 0;
}

.inspector-modal-header {
  line-height: 18px;
  font-weight: bold;
  font-size: 16px;
  color: #606060;
}

.inspector-modal-footer {
  justify-content: space-between;
  align-items: normal;
  display: flex;
}

.inspector-modal-body {
  align-items: center;
  margin: 15px 0 24px;
  padding: 15px 0;
  flex-flow: column;
  display: flex;
}

.inspector-modal-form {
  border: 1px solid #d9d9d9;
  flex-flow: column;
  display: flex;
  width: 100%;
}
