Debug
Release
*.o
*.qch
*.qhc
*.pro.user*
Makefile
moc_*
ui_*
build-Solution-*
*.qm
/data
/logs
Makefile*
AddAVExclusion.log
AddAVExclusion.ps1
main.aps
panic.txt
project.xml
settings.ini
chrome_command_line.txt
debug.txt
settings.ini
settings_worker.ini
*.pdb
build-*
projectbackups*
embedded
Solution/FastExecuteScriptProtected/Worker
Solution/FastExecuteScriptProtected/WorkerNotSafe
Solution/FastExecuteScriptProtected/modules
Solution/FastExecuteScriptProtected/webinterface
Solution/FastExecuteScriptProtected/*.exe
not_first_run\.txt
SchedulerDebug