.inspector-tab:not(.active) {
  opacity: 0.5;
}

.inspector-tab > a > img {
  padding-right: 8px;
}

.inspector-tab > a:hover {
  cursor: pointer;
}

.inspector-tab > a:focus {
  cursor: pointer;
}

.inspector-tab > a {
  letter-spacing: -0.2px;
  text-decoration: none;
  align-items: center;
  line-height: 17px;
  font-weight: 500;
  font-size: 14px;
  color: #606060;
  display: flex;
}

.inspector-tabs {
  background: #f6f6f6;
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
  flex: 1;
}

.inspector-tab {
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  min-height: 40px;
  display: flex;
  flex: 1;
}

.inspector-header {
  display: flex;
}

.inspector-content {
  flex-flow: column;
  display: flex;
  height: 100%;
}