.modal-search-close:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.modal-list-item:hover {
  background-color: #f0fbeb;
  cursor: pointer;
}

.modal-dialog-container {
  background-color: #ffffff;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;
  overflow: hidden;
  position: fixed;
  display: flex;
  z-index: 100;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.modal-options-container {
  background-color: #dadada;
  padding: 5px 8px 5px 8px;
  height: max-content;
  width: max-content;
  margin-bottom: 2px;
  margin-right: 2px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
}

.modal-content-container::before {
  background-color: rgba(224, 224, 224, 0.5);
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
}

.modal-content-container {
  margin: 4px 6px 4px 6px;
  font-weight: normal;
  font-size: 14px;
  display: flex;
  height: 100%;
}

.modal-search-container {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cccdce;
  box-sizing: content-box;
  margin: 4px 6px 4px 6px;
  font-weight: normal;
  border-radius: 1px;
  font-size: 14px;
  display: flex;
  height: 34px;
}

.modal-recent-container {
  margin: 0 10px 0 10px;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  flex: 30%;
}

.modal-list-container {
  grid-template-columns: repeat(auto-fill, minmax(max-content, 200px));
  margin: 0 10px 0 10px;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  flex: 70%;
}

.modal-search-control > i {
  height: 20px;
  width: 20px;
}

.modal-search-control {
  background-color: #ffffff;
  text-align: center;
  line-height: 15px;
  min-width: 34px;
  max-width: 34px;
  font-size: 13px;
  outline: none;
  border: none;
  height: 34px;
}

.modal-search-recent {
  background-color: #ffffff;
  color: #000000;
}

.modal-search-close {
  background-color: #ffffff;
  padding: 6px 6px;
  color: #bf5d4e;
}

.modal-search-icon {
  background-color: #c56d5f;
  padding: 0px 0px;
  color: #ffffff;
}

.modal-search-input {
  line-height: 15px;
  padding: 6px 12px;
  font-size: 13px;
  color: #000;
  outline: none;
  border: none;
  height: 34px;
  width: 100%;
}

.modal-recent-header {
  text-transform: none;
  font-weight: normal;
  text-align: center;
  user-select: none;
  font-size: 1.25em;
  padding-top: 10px;
  margin-top: 10px;
}

.modal-recent-items {
  font-weight: normal;
  padding: 0;
}

.modal-recent-item {
  font-weight: normal;
  font-size: 1.15em;
  user-select: none;
  margin-top: 10px;
  list-style: none;
}

.modal-recent {
  justify-content: center;
  flex-direction: column;
  margin: 10% 0% 10% 0%;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.modal-list-header-content {
  background-color: #828282;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  user-select: none;
  line-height: 30px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  height: 30px;
  width: 30px;
}

.modal-list-header-splitter {
  background: rgba(227, 227, 227, 0.5);
  width: 1px;
  flex: 1;
}

.modal-list-header {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.modal-list-items {
  font-weight: normal;
  padding-right: 0px;
  padding-left: 20px;
  width: 100%;
  margin: 0;
}

.modal-list-item {
  padding: 10px 12px 10px 12px;
  border: 1px solid #cccdce;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 1px;
  font-weight: normal;
  font-size: 1.15em;
  user-select: none;
  list-style: none;
}

.modal-list {
  width: max-content;
  padding: 0.75rem;
  display: flex;
  width: 100%;
}

.modal-text-normal {
  line-height: 15px;
  font-weight: 500;
  font-size: 13px;
}

.modal-text-small {
  line-height: 14px;
  font-weight: 300;
  font-size: 12px;
}

.modal-text-green {
  color: #529653;
}

.modal-text-dark {
  color: #000000;
}
