/* Tabs */

.app-tab:not(.active) {
  opacity: 0.5;
}

.app-tab > a > img {
  padding-right: 8px;
}

.app-tab > a {
  letter-spacing: -0.2px;
  text-decoration: none;
  align-items: center;
  line-height: 17px;
  font-weight: 500;
  font-size: 14px;
  color: #606060;
  display: flex;
}

.app-tabs {
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
  flex: 1;
}

.app-tab {
  transition: opacity 0.3s ease;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  min-height: 40px;
  display: flex;
  opacity: 1;
  flex: 1;
}

.app-header > button:hover {
  cursor: pointer;
  opacity: 1;
}

.app-header > button > svg {
  vertical-align: middle;
}

.app-header > button {
  transition: opacity 0.3s ease;
  background: inherit;
  min-width: 40px;
  opacity: 0.5;
  border: 0;
}

.app-header {
  background: #f6f6f6;
  padding: 0 14px;
  display: flex;
}

.app-content {
  flex-flow: column;
  display: flex;
  height: 100%;
}

/* Panels */

.app-panel-data {
  font-weight: 400;
  font-size: 10px;
  overflow: auto;
  padding: 4px;
  flex: 1;
}

.app-panel-info {
  justify-content: center;
  letter-spacing: -0.2px;
  align-items: center;
  text-align: center;
  user-select: none;
  line-height: 16px;
  font-size: 16px;
  color: #606060;
  display: flex;
  flex: 1;
}

.app-panels {
  flex-flow: column;
  overflow: hidden;
  display: flex;
  flex: 1;
}

.app-panel {
  flex-flow: column;
  overflow: hidden;
  display: flex;
  flex: 1;
}

/* Toolbar */

.app-toolbar .dropdown.open > button > svg > path {
  fill: #ffffff;
}

.app-toolbar .dropdown.open > button {
  border-color: #606060;
  background: #3d3f42;
}

.app-toolbar .dropdown > button > svg > path {
  transition: fill 0.3s ease;
}

.app-toolbar .dropdown > button {
  transition: all 0.3s ease;
  border: 1px solid #d9d9d9;
  justify-content: center;
  align-items: center;
  background: inherit;
  display: flex;
  padding: 10px;
  height: 100%;
}

.app-toolbar .dropdown {
  position: relative;
}

.app-toolbar-toggle:hover {
  cursor: pointer;
  opacity: 1;
}

.app-toolbar-toggle {
  transition: opacity 0.3s ease;
  justify-content: center;
  align-items: center;
  background: inherit;
  display: flex;
  height: 20px;
  opacity: 0.5;
  border: 0;
}

.app-toolbar-panel {
  margin: 0px 16px;
  display: flex;
}

.app-toolbar {
  border-bottom: 1px solid #d9d9d9;
  background: #f6f6f6;
  flex-flow: column;
  display: flex;
  padding: 1px;
}

.app-toolbar-input:disabled::placeholder {
  color: #d9d9d9;
}

.app-toolbar-input:disabled {
  background: inherit;
  color: #d9d9d9;
}

.app-toolbar-input {
  border: 1px solid #d9d9d9;
  letter-spacing: -0.2px;
  background: #fff;
  line-height: 18px;
  padding: 8px 12px;
  color: #606060;
  border-right: 0;
  font-size: 14px;
  flex: 1;
}

.app-toolbar-menu > li.active {

}

.app-toolbar-menu > li + li {
  margin-top: 5px;
}

.app-toolbar-menu > li > a {
  text-decoration: none;
  color: #fff;
}

.app-toolbar-menu > li {
  letter-spacing: -0.2px;
  line-height: 15px;
  font-size: 12px;
}

.app-toolbar-menu {
  border: 1px solid #606060;
  background: #3d3f42;
  min-width: max-content;
  position: absolute;
  padding: 13px 12px;
  flex-flow: column;
  list-style: none;
  margin-top: -1px;
  display: flex;
  z-index: 1;
  right: 0;
}

/* Callstack */

.callstack-item-param > span:first-of-type {
  color: #606060;
}

.callstack-item-param > span:last-of-type {
  color: #538fb5;
}

.callstack-item-param > span + span {
  padding-left: 8px;
}

.callstack-item-title > span {
  align-items: center;
  display: flex;
}

.callstack-item-title {
  align-items: center;
  display: flex; 
}

.callstack-item-params {
  background: #f6f6f6;
  flex-flow: column;
  list-style: none;
  padding: 9px 26px;
  display: flex;
}

.callstack-toggle-params {
  background: transparent;
  color: #606060;
  outline: 0;
  border: 0;
}

.callstack-item-preview:not(:empty) {
  padding: 0 5px;
}

.callstack-item-data {
  padding-left: 8px;
  color: #538fb5;
  flex: 1;
}

.callstack-item-name {
  padding-left: 10px;
  font-weight: 600;
}

.callstack-item {
  transition: all 0.3s ease;
  border: 1px solid transparent;
  letter-spacing: -0.2px;
  user-select: none;
  flex-flow: column;
  cursor: pointer;
  padding: 5px 12px;
  line-height: 18px;
  font-size: 14px;
  display: flex;
}

.callstack-item:hover {
  border-color: #d9d9d9;
  background: #f6f6f6;
}

.callstack-list {
  flex-flow: column;
  display: flex;
}

/* Transitions */

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* Scrollbar */

::-webkit-scrollbar-thumb {
  background: #b7b7b7;
  border-radius: 1px;
}

::-webkit-scrollbar-track {
  background: #eaeaea;
  border-radius: 0;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Utilities */

.text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Global */

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}