.variableslabelcontainer {
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  height: 10px;
  margin-bottom: 9px;
  margin-top: 7px;
}

.variableslabel {
  background-color: #fefad7;
  margin-top: 5px;
  font-size: small;
  font-style: italic;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: #3e3e3e;
  border-radius: 2px;
}

#variableInspector {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 5px;
  height: 200px;
  overflow: auto;
  border-top: 7px solid #e1e1e1;
  background-color: #fafafa;
}
