/********************
 * Inspector styles *
 ********************/

.inspector-nav > li + li {
  border-left: 1px solid #e0e0e0;
}

.inspector-nav > li.active > a {
  background: #e0e0e0;
}

.inspector-nav > li > a:hover {
  cursor: pointer;
}

.inspector-nav > li > a:focus {
  cursor: pointer;
}

.inspector-nav > li > a {
  text-decoration: none;
  font-size: 13px;
  display: block;
  padding: 4px 0;
  color: #333;
  height: 100%;
  width: 100%;
}

.inspector-nav > li {
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  display: flex;
  flex: 1;
}

.inspector-tools-input:not(:placeholder-shown) {
  user-select: auto;
}

.inspector-tools-input:placeholder-shown {
  user-select: none;
}

.inspector-tools-input {
  padding: 3px;
  border: 0;
  flex: 1;
}

.inspector-tools-filters {
  min-width: max-content;
  padding: 0 12px;
  left: auto;
}

.inspector-tools-sorting {
  min-width: max-content;
  padding: 0 12px;
  left: auto;
}

.inspector-content {
  flex-flow: column;
  display: flex;
  height: 100%;
}

.inspector-header {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
}

.inspector-notice {
  justify-content: center;
  background: #fafafa;
  align-items: center;
  text-align: center;
  user-select: none;
  display: flex;
  flex: 1;
}

/****************
 * Tools styles *
 ****************/

.inspector-tools .dropdown > button:hover {
  outline: 0;
}

.inspector-tools .dropdown > button:focus {
  outline: 0;
}

.inspector-tools .dropdown > button {
  background: #fff;
  height: 100%;
  width: 28px;
  border: 0;
}

.inspector-tools-panel.collapsed {
  display: none;
}

.inspector-tools .dropdown {
  border-left: 1px solid #e0e0e0;
}

.inspector-tools-toggle {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 15px;
  outline: 0;
  border: 0;
}

.inspector-tools-panel {
  padding: 4px 10px;
  display: flex;
}

.inspector-tools {
  border-bottom: 1px solid #e0e0e0;
  background: #e0e0e0;
  flex-flow: column;
  display: flex;
}

/****************
 * Panel styles *
 ****************/

.inspector-panel[data-empty=false] > .inspector-panel-info {
  display: none;
}

.inspector-panel[data-empty=true] > .inspector-panel-data {
  display: none;
}

.inspector-panel-data {
  padding: 8px 8px;
  font-weight: 400;
  font-size: 10px;
  overflow: auto;
  flex: 1;
}

.inspector-panel-info {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex: 1;
}

.inspector-panel {
  overflow: hidden;
  display: flex;
  flex: 1;
}

.inspector-nav {
  border-right: 1px solid #e0e0e0;
  display: flex;
  padding: 0;
  flex: 1;
}

.inspector-tabs > .active {
  display: flex;
}

.inspector-tabs > div {
  flex-flow: column;
  overflow: hidden;
  display: none;
  flex: 1;
}

.inspector-tabs {
  flex-flow: column;
  overflow: hidden;
  display: flex;
  flex: 1;
}

#inspector {
  border-bottom: 1px solid #dbdbdb;
  border-top: 7px solid #e1e1e1;
  min-height: 120px;
  height: 300px;
}

/********************
 * Callstack styles *
 ********************/

.callstack-toggle-params[aria-expanded=false] > .fa-minus {
  display: none;
}

.callstack-toggle-params[aria-expanded=true] > .fa-plus {
  display: none;
}

.callstack-item-param > span:first-of-type {
  font-weight: 600;
  color: #5a5a5a;
}

.callstack-item-param > span:last-of-type {
  font-weight: 400;
  color: #838383;
}

.callstack-item[data-type=function] > div {
  background-image: url(../icons/flash.svg);
}

.callstack-item[data-type=action] > div {
  background-image: url(../icons/gear.svg);
}

.callstack-item > div {
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: 0 2px;
  padding-left: 20px;
  display: flex; 
}

.callstack-item-params {
  font-size: smaller;
  flex-flow: column;
  padding: 0 20px;
}

.callstack-toggle-params {
  background: transparent;
  color: #606060;
  outline: 0;
  border: 0;
}

.callstack-item-data {
  padding-left: 5px;
  color: #838383;
  font-size: 95%;
  flex: 1;
}

.callstack-item-name {
  font-weight: 600;
}

.callstack-item {
  border: 1px solid transparent;
  border-left-width: 4px;
  user-select: none;
  flex-flow: column;
  line-height: 18px;
  font-size: 16px;
  color: #434343;
  display: flex;
  padding: 5px;
}

.callstack-data {
  flex-flow: column;
  display: flex;
  padding: 0;
}

#callstack > .inspector-tools > ul > li {
  min-width: max-content;
  padding: 3px 10px;
  user-select: none;
}

#callstack > .inspector-tools > ul {
  justify-content: space-around;
  display: flex;
  padding: 0;
  flex: 1;
}

/*****************
 * Global styles *
 *****************/

#inspector ul {
  list-style: none;
  margin-bottom: 0;
}

#inspector ol {
  list-style: none;
  margin-bottom: 0;
}