.inspector-navigation > li {
  vertical-align: middle;
  text-align: center;
  padding: 2px 0;
  flex: 1;
}

.inspector-navigation {
  list-style: none;
  flex-flow: row;
  display: flex;
  padding: 0;
  margin: 0;
}

.inspector-label-container {
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  margin-bottom: 9px;
  margin-top: 7px;
  height: 10px;
}

.inspector-label {
  background-color: #fefad7;
  padding: 4px 10px 4px;
  border-radius: 2px;
  font-style: italic;
  font-size: small;
  color: #3e3e3e;
  margin-top: 5px;
}

#variableInspector {
  border-bottom: 1px solid #dbdbdb;
  border-top: 7px solid #e1e1e1;
  background-color: #fafafa;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
  min-height: 100px;
  height: 200px;
  overflow: auto;
}