* {
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica Neue;
}

::-webkit-scrollbar-thumb {
  background: #b7b7b7;
  border-radius: 1px;
}

::-webkit-scrollbar-track {
  background: #eaeaea;
  border-radius: 0;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}