.item-description {
  font-weight: normal;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 12px;
}

.item-module {
  background-color: #54809c;
  padding: 0 6px 0 6px;
  border-radius: 3px;
  margin-right: auto;
  margin-top: 4px;
  font-size: 10px;
  color: #ffffff;
}

.item-action {
  font-weight: bold;
  font-size: 14px;
  color: #21243d;
}

.item-index {
  text-align: center;
  color: #54809c;
  font-weight: 600;
  font-size: 12px;
  width: 20px;
}

.item-icon {
  height: 20px;
  width: 20px;
}

@media (min-width: 961px) {
  .results-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 960px) {
  .results-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .results-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.results-container {
  list-style-type: none;
  margin-right: 25px;
  margin-left: 5px;
  display: grid;
  padding: 0;
}

.results-recent {
  margin: 4px auto 4px auto;
  background-color: black;
  border-radius: 3px;
  text-align: center;
  user-select: none;
  font-size: 13px;
  color: white;
  display: block;
  width: 140px;
}

.results-empty {
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8.5em;
  user-select: none;
  font-size: 18px;
  color: black;
  display: flex;
  width: 240px;
}

.result-item:hover {
  border-color: #54809c;
  cursor: pointer;
}

.result-item-right {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.result-item-left {
  justify-content: space-between;
  flex-direction: column;
  padding-right: 4px;
  padding-left: 4px;
  display: flex;
}

.result-item {
  grid-template-columns: 0.1fr 1fr;
  border-color: #f2f5f7;
  border-style: solid;
  border-radius: 2px;
  border-width: 2px;
  line-height: 1.33;
  user-select: none;
  padding: 0.75rem;
  display: grid;
  margin: 5px;
}

.search-page-button:disabled {
  background-color: #dde6eb;
}

.search-page-button:hover {
  background-color: #dde6eb;
}

.search-page-button > i {
  color: #ffffff;
}

.search-clear-button {
  border: 1px solid rgb(230, 238, 244);
  vertical-align: unset !important;
  border-radius: 0px !important;
  background-color: white;
  display: inline-block;
  color: #bf5d4e;
}

.search-page-button {
  border: 1px solid rgb(230, 238, 244);
  vertical-align: unset !important;
  border-radius: 0px !important;
  background-color: #54809c;
  border-right-width: 0px;
  border-left-width: 0px;
  display: inline-block;
}

.search-page-label {
  border: 1px solid rgb(230, 238, 244);
  border-right-width: 0px;
  border-left-width: 0px;
  display: inline-block;
  text-align: center;
  user-select: none;
  padding: 5px 10px;
  font-size: 12px;
  height: 30px;
  width: 75px;
}

.search-input:focus {
  border-color: rgb(230, 238, 244);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-input {
  background: url(../../icons/search-input.png) no-repeat;
  border: 1px solid rgb(230, 238, 244);
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  -webkit-transition: none;
  box-shadow: none;
  transition: none;
  color: black;
}

.search-icon {
  border: 1px solid rgb(230, 238, 244) !important;
  border-right-width: 0px !important;
  border-left-width: 0px !important;
  background-color: #bf5d4e;
  color: #fff;
}

.search-bar {
  box-shadow: 0px 10px 20px 0px rgba(53, 53, 53, 0.09);
  margin: 0 12px 4px 6px;
}

.search {
  margin: 5px 0 5px 0;
  overflow: hidden;
}

.bg-action:nth-child(10n + 10) {
  background-position: 50px -35px;
}

.bg-action:nth-child(10n + 9) {
  background-position: -100px -60px;
}

.bg-action:nth-child(10n + 8) {
  background-position: 95px -50px;
}

.bg-action:nth-child(10n + 7) {
  background-position: 10px -80px;
}

.bg-action:nth-child(10n + 6) {
  background-position: -50px -30px;
}

.bg-action:nth-child(10n + 5) {
  background-position: -15px -90px;
}

.bg-action:nth-child(10n + 4) {
  background-position: -65px -20px;
}

.bg-action:nth-child(10n + 3) {
  background-position: 50px -75px;
}

.bg-action:nth-child(10n + 2) {
  background-position: 25px 5px;
}

.bg-action:nth-child(10n + 1) {
  background-position: -10px -10px;
}

.bg-action {
  background: url(../../icons/search-item.png) no-repeat;
  background-clip: border-box;
  background-size: 105%;
}

.bg-link {
  background: rgb(242, 245, 247) no-repeat center center;
  background-size: 105%;
}

.text-gray {
  color: #c2c2c2;
}

.text-dark {
  color: #000000;
}

mark {
  background: inherit;
  color: #ff553e;
  padding: 0;
}
