.actions-updater-header > h1 + h2 {
  margin-top: 3px;
}

.actions-updater-header > h1 {
  font-weight: bold;
  font-size: 16px;
  opacity: 1;
  margin: 0;
}

.actions-updater-header > h2 {
  font-weight: normal;
  font-size: 12px;
  opacity: 0.5;
  margin: 0;
}

.actions-updater-header {
  line-height: 18px;
  color: #606060;
}

.actions-updater-footer {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.actions-updater-panel {
  margin-bottom: 36px;
  margin-top: 28px;
}

.actions-updater-stats-item + .actions-updater-stats-item {
  border-left: 1px solid #606060;
}

.actions-updater-stats-item:nth-child(1) {
  color: #ffffff;
  opacity: 0.5;
}

.actions-updater-stats-item:nth-child(2) {
  color: #669fc2;
}

.actions-updater-stats-item:nth-child(3) {
  color: #d8695f;
}

.actions-updater-stats-item > span {
  margin-left: 8px;
}

.actions-updater-stats-item {
  -webkit-user-drag: none;
  letter-spacing: -0.2px;
  padding: 13px 16px;
  user-select: none;
  line-height: 15px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  flex: 1 1 0;
  opacity: 1;
}

.actions-updater-stats {
  border: 1px solid #606060;
  background: #3d3f42;
  display: flex;
}

.actions-updater-copy {
  justify-content: center;
  letter-spacing: -0.2px;
  background: #3d3f42;
  align-items: center;
  line-height: 15px;
  font-weight: 500;
  font-size: 12px;
  padding: 12px 0;
  color: #ffffff;
  display: flex;
  width: 100%;
  border: 0;
}

.actions-updater {
  background: #ffffff;
  padding: 25px 20px;
  position: fixed;
  z-index: 100000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

/*********************************
 * Actions updater select styles *
 *********************************/

.dropdown-menu > li > a.actions-updater-select-option.active:hover,
.dropdown-menu > li > a.actions-updater-select-option.active,
.dropdown-menu > li > a.actions-updater-select-option:hover {
  background-color: #606060;
  background-image: none;
  color: #fff;
}
 
.dropdown-menu > li > a.actions-updater-select-option {
  transition: background-color 0.3s ease-in-out;
  border: thin solid transparent;
  justify-content: space-between;
  background-color: #787878;
  background-image: none;
  padding: 15px 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  display: flex;
  outline: 0;
}

.bootstrap-select > .actions-updater-select:focus,
.bootstrap-select > .actions-updater-select:hover,
.bootstrap-select.open > .actions-updater-select {
  background-color: #787878;
}

.actions-updater-select:focus {
  color: #fff;
}

.actions-updater-select:hover {
  color: #fff;
}

.actions-updater-select {
  transition: all 0.3s ease-in-out;
  border: thin solid #606060;
  background-color: #606060;
  letter-spacing: -0.2px;
  border-bottom: none;
  padding: 15px 16px;
  line-height: 18px;
  border-radius: 0;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  outline: 0;
}

/************************
 * Global select styles *
 ************************/

.bootstrap-select .dropdown-menu > li.selected > a::after {
  visibility: visible;
}

.bootstrap-select .dropdown-menu > li > a::after {
  background: url(../icons/check.svg) no-repeat;
  visibility: hidden;
  cursor: pointer;
  display: block;
  content: " ";
  height: 16px;
  width: 16px;
}

.bootstrap-select .dropdown-menu li a span.text {
  padding-right: inherit;
  display: inline-block;
}

.bootstrap-select.open > .dropdown-toggle:after {
  content: "\f106";
}

.bootstrap-select > .dropdown-toggle::after {
  font-family: FontAwesome;
  text-align: center;
  line-height: 16px;
  content: "\f107";
  font-size: 16px;
  min-width: 16px;
  height: 16px;
  width: 16px;
}

.bootstrap-select .dropdown-toggle:focus {
  outline: 0 !important;
}

.bootstrap-select .dropdown-toggle:hover {
  outline: 0 !important;
}

.bootstrap-select .dropdown-menu {
  min-width: 100% !important;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  border: 0;
  margin: 0;
}
