span.jst-node[data-type="undefined"] {
  color: #808080;
}

span.jst-node[data-type="boolean"] {
  color: #2525cc;
}

span.jst-node[data-type="number"] {
  color: #d036d0;
}

span.jst-node[data-type="string"] {
  color: #2db669;
}

span.jst-node[data-type="date"] {
  color: #ce904a;
}

span.jst-node[data-type="null"] {
  color: #808080;
}

.jst-root > li > ul > li > .jst-icon {
  display: inline-block;
  margin-right: 4px;
  margin-left: 0px;
}

.jst-root > li > .jst-collapse {
  display: none;
}

.jst-root > li > .jst-bracket {
  display: none;
}

.jst-root > li > .jst-label {
  display: none;
}

.jst-root > li > .jst-colon {
  display: none;
}

.jst-root > li > .jst-list {
  display: flex;
  padding: 0;
}

.jst-item > .fa-minus-circle {
  margin-left: 2px;
  cursor: pointer;
}

.jst-item > .fa-plus-circle {
  margin-left: 2px;
  cursor: pointer;
}

.jst-item + .jst-item {
  margin-top: 4px;
}

.jst-collapse:before {
  content: "-";
}

.jst-expand:before {
  content: "+";
}

.jst-list:empty {
  padding: 0 2px;
  display: inline;
}

.jst-root:empty {
  padding: 0 2px;
  display: inline;
}

.jst-collapse {
  user-select: none;
  cursor: pointer;
  padding: 0 2px;
}

.jst-expand {
  user-select: none;
  cursor: pointer;
  padding: 0 2px;
}

.jst-bracket {
  white-space: pre-wrap;
}

.jst-comma {
  white-space: pre-wrap;
}

.jst-label {
  word-wrap: break-word;
  color: #666;
}

.jst-colon {
  padding-right: 6px;
}

.jst-node {
  word-break: break-all;
  padding: 0;
  margin: 0;
}

.jst-list {
  padding-left: 15px;
  flex-flow: column;
  list-style: none;
  display: flex;
  margin: 0;
}

.jst-root {
  padding-left: 0px;
  flex-flow: column;
  list-style: none;
  display: flex;
  margin: 0;
}

.jst-icon {
  display: none;
}

/*****************
 * Groups styles *
 *****************/

.jst-group-body {
  background: transparent;
  padding: 4px 2px;
  border: none;
}

.jst-group-head {
  background: #e0e0e0;
  padding: 2px 8px;
  border: none;
}

.jst-group {
  border: thin solid #e0e0e0;
}