/****************
 * Types styles *
 ****************/

[data-type=undefined] > .jst-node {
  color: #8546bc;
}

[data-type=boolean] > .jst-node {
  color: #2525cc;
}

[data-type=number] > .jst-node {
  color: #d036d0;
}

[data-type=string] > .jst-node {
  color: #2db669;
}

[data-type=date] > .jst-node {
  color: #ce904a;
}

[data-type=null] > .jst-node {
  color: #808080;
}

/***************
 * Base styles *
 ***************/

.jst-root > li > ul > li > .jst-icon {
  display: inline;
  margin: 0 4px 0 0;
}

.jst-root > li > .jst-collapse {
  display: none;
}

.jst-root > li > .jst-bracket {
  display: none;
}

.jst-root > li > .jst-list {
  min-height: 20px;
  display: flex;
  padding: 0;
}

.jst-item .fa-minus-circle,
.jst-item .fa-plus-circle {
  margin-left: 2px;
  cursor: pointer;
}

.jst-item + .jst-item {
  margin-top: 4px;
}

.jst-collapse::before {
  content: '-';
}

.jst-expand::before {
  content: '+';
}

.jst-list.collapsed,
.jst-root.collapsed {
  display: none;
}

.jst-list:empty,
.jst-root:empty {
  display: inline;
  padding: 0 2px;
}

.jst-collapse,
.jst-expand {
  user-select: none;
  cursor: pointer;
  padding: 0 2px;
}

.jst-viewer {
  font-family: "Lucida Console", Monaco, monospace;
}

.jst-label {
  word-wrap: break-word;
  padding-right: 6px;
  color: #666;
}

.jst-list,
.jst-root {
  flex-flow: column;
  display: flex;
}

.jst-list {
  padding-left: 15px;
}

.jst-root {
  padding-left: 0px;
}

.jst-item {
  word-break: break-all;
}

.jst-icon {
  display: none;
}

/*****************
 * Groups styles *
 *****************/

.jst-group + .jst-group {
  margin-top: 10px;
}

.jst-group-body {
  padding: 4px 2px;
}

.jst-group-head {
  justify-content: space-between;
  background: #e0e0e0;
  align-items: center;
  padding: 2px 8px;
  display: flex;
}

.jst-group {
  border: thin solid #e0e0e0;
}