/* App */

#app {
  letter-spacing: -0.2px;
  flex-flow: column;
  font-size: 12px;
  display: flex;
  height: 100%;
}

/* Tabs */

.app-tab.active > a {
  opacity: 1;
}

.app-tab.hover > a {
  opacity: 1;
}

.app-tab > a {
  grid-auto-flow: column;
  text-decoration: none;
  align-items: center;
  line-height: 18px;
  color: #606060;
  display: grid;
  opacity: 0.5;
  gap: 0 8px;
}

.app-tabs {
  justify-content: space-around;
  display: flex;
  flex: 1;
}

/* Header */

.app-header button:active {
  opacity: 1;
}

.app-header button:hover {
  opacity: 1;
}

.app-header button {
  margin: 0 9px;
  display: flex;
  opacity: 0.5;
}

.app-header {
  background: #f6f6f6;
  position: relative;
  padding: 8px 12px;
  display: flex;
}

/* Panels */

.app-panel-content {
  border-top: 1px solid #d9d9d9;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 4px;
}

.app-panel-title {
  border-top: 1px solid #d9d9d9;
  justify-content: center;
  align-items: center;
  color: #606060;
  display: flex;
  flex: 1;
}

.app-panel {
  flex-flow: column;
  overflow: hidden;
  display: flex;
  flex: 1;
}

/* Menu */

.app-menu::-webkit-scrollbar-thumb {
  background: #606060;
}

.app-menu::-webkit-scrollbar-track {
  background: #3d3f42;
}

.app-menu::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.app-menu > li.active > a > img {
  opacity: 1;
}

.app-menu > li.active > a {
  opacity: 1;
}

.app-menu > li > a > img {
  margin-left: 10px;
  width: 16px;
  opacity: 0;
}

.app-menu > li > hr {
  border: 0 solid #606060;
  border-top-width: 1px;
  margin: 6px 0;
}

.app-menu > li > a {
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  padding: 3px 8px;
  display: flex;
  opacity: 0.5;
  color: #fff;
}

.app-menu {
  max-height: calc(100vh - 35px);
  border: 1px solid #606060;
  background: #3d3f42;
  width: max-content;
  position: absolute;
  min-width: 150px;
  font-size: 12px;
  padding: 6px 0;
  overflow: auto;
  right: 12px;
  z-index: 1;
  top: 100%;
}

/* Toolbar */

.app-toolbar button:active > svg {
  opacity: 0.5;
}

.app-toolbar button:hover > svg {
  opacity: 0.5;
}

.app-toolbar button {
  border: 1px solid #d9d9d9;
  padding: 6px 8px;
  display: flex;
}

.app-toolbar-input:disabled {
  background: inherit;
  color: #d9d9d9;
}

.app-toolbar-input {
  border: 1px solid #d9d9d9;
  letter-spacing: -0.2px;
  padding: 6px 8px;
  background: #fff;
  border-right: 0;
  color: #606060;
  flex: 1;
}

.app-toolbar {
  padding: 0 12px 8px;
  background: #f6f6f6;
  display: flex;
}

/* Callstack */

.callstack-item-param > span + span {
  padding-left: 8px;
}

.callstack-item-param-value {
  color: #538fb5;
}

.callstack-item-param-name {
  color: #606060;
}

.callstack-item-params {
  padding: 4px 0;
  display: grid;
  row-gap: 4px;
}

.callstack-item-param {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 4px 28px;
  overflow: hidden;
}

.callstack-item-toggle:active {
  opacity: 0.5;
}

.callstack-item-toggle:hover {
  opacity: 0.5;
}

.callstack-item-toggle {
  margin-left: auto;
  display: flex;
}

.callstack-item-title {
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  padding: 6px;
}

.callstack-item-data {
  color: #538fb5;
}

.callstack-item-name {
  font-weight: 600;
  color: #606060;
  padding: 0 6px;
}

.callstack-item.function:not(.preview) > .callstack-item-title {
  background: rgba(217, 217, 217, var(--opacity, 1));
}

.callstack-item:not(.preview) > .callstack-item-title:active {
  --opacity: 0.5;
}

.callstack-item:not(.preview) > .callstack-item-title:hover {
  --opacity: 0.5;
}

.callstack-item.preview .callstack-item-data {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.callstack-item:not(.preview) {
  border-color: #d9d9d9;
  background: #f6f6f6;
}

.callstack-item:active {
  border-color: #d9d9d9;
  background: #f6f6f6;
}

.callstack-item:hover {
  border-color: #d9d9d9;
  background: #f6f6f6;
}

.callstack-item {
  border: 1px solid transparent;
  line-height: 18px;
  overflow: hidden;
}

.callstack-list {
  display: grid;
  row-gap: 4px;
}

/* Groups */

.group-item-controls > button:active > svg {
  opacity: 0.5;
}

.group-item-controls > button:hover > svg {
  opacity: 0.5;
}

.group-item-inputs > input:enabled + div {
  background: #fff;
  padding: 3px;
}

.group-item-inputs > input.enabled + div {
  background: #fff;
  padding: 3px;
}

.group-item-controls > button > img {
  display: block;
}

.group-item-controls > button > svg {
  display: block;
}

.group-item-inputs > input:enabled {
  background: #fff;
  padding: 3px 8px;
}

.group-item-inputs > input,
.group-item-inputs > span {
  letter-spacing: -0.2px;
  line-height: 16px;
  user-select: none;
  padding: 3px 0;
  color: inherit;
  flex: 1;
}

.group-item-controls {
  grid-auto-flow: column;
  display: grid;
  gap: 0 12px;
}

.group-item-swatches {
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 0 5px;
}

.group-item-swatch {
  border-radius: 50%;
  border: 1px solid;
  cursor: pointer;
  display: flex;
  padding: 1px;
}

.group-item-header {
  background: var(--color-normal);
  align-items: center;
  padding: 1px 8px;
  display: flex;
}

.group-item-inputs {
  margin-left: 8px;
  display: flex;
  flex: 1;
}

.group-item-content:empty::before {
  content: var(--title);
}

.group-item-content.empty::before {
  content: var(--title);
}

.group-item-content::before {
  text-align: center;
  line-height: 18px;
  padding: 5px;
}

.group-item-content {
  border-top: 1px solid var(--color-normal);
  background: rgba(var(--color-rgb), 0.08);
  flex-flow: column;
  padding: 3px 0;
  display: flex;
}

.group-item {
  --color-lighten: rgba(var(--color-rgb), 0.24);
  --color-normal: rgba(var(--color-rgb), 1.00);
  --color-flat: rgba(246, 246, 246, 1.00);
  border: 1px solid var(--color-normal);
  overflow: hidden;
  color: #606060;
}

.group-list {
  display: grid;
  row-gap: 4px;
}

/* Flat mode */

.flat .group-item-content:empty::before {
  content: none;
}

.flat .group-item-content.empty::before {
  content: none;
}

.flat .group-item-content {
  background: transparent;
  display: flex;
  padding: 0;
  border: 0;
}

.flat .group-item-header {
  background: transparent;
  display: none;
  padding: 0;
  border: 0;
}

.flat .jt-node.focused {
  background: var(--color-flat);
}

.flat .jt-node.hovered {
  background: var(--color-flat);
}

.flat .group-item {
  border-radius: 0;
  border: 0;
}

/* Json tree */

.expanded > .jt-node-nodes > .jt-node > .jt-node-inner > .jt-node-label {
  padding-left: calc(var(--indent, 0) + 8px);
}

.expanded > .jt-node-nodes > .jt-node-bracket:first-of-type  {
  padding-left: calc(var(--indent, 0) + 8px);
}

.expanded > .jt-node-nodes > .jt-node-bracket:last-of-type  {
  padding-left: calc(var(--indent, 0) + 8px);
}

.jt-node.focused > .jt-node-inner > .jt-node-actions {
  display: grid;
}

.jt-node.hovered > .jt-node-inner > .jt-node-actions {
  display: grid;
}

.jt-node > .jt-node-inner > .jt-node-label > button {
  margin: 0 8px;
  height: 16px;
}

.jt-node-actions > button:active {
  opacity: 0.5;
}

.jt-node-actions > button:hover {
  opacity: 0.5;
}

.jt-node-actions > button {
  display: flex;
}

.jt-node-actions {
  grid-auto-flow: column;
  margin-right: 8px;
  column-gap: 12px;
  display: none;
}

.jt-node.focused {
  background: var(--color-lighten);
}

.jt-node.hovered {
  background: var(--color-lighten);
}

.jt-node-inner {
  display: flex;
}

.jt-node-label {
  display: flex;
}

.jt-node-value {
  display: flex;
}

.jt-node {
  user-select: none;
  line-height: 18px;
  overflow: hidden;
  padding: 3px 0;
}

/* Scrollbar */

::-webkit-scrollbar-thumb {
  background: #b7b7b7;
}

::-webkit-scrollbar-track {
  background: #eaeaea;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Placeholder */

textarea:placeholder-shown {
  user-select: none;
}

input:placeholder-shown {
  user-select: none;
}

textarea::placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

/* Sortable */

.sortable-chosen {
  opacity: 1.00;
}

.sortable-ghost {
  opacity: 0.75;
}

/* Global */

html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

img, a {
  -webkit-user-drag: none;
  user-select: none;
}

ul, ol {
  list-style: none;
}

/* Theme */

.undefined > .jt-node-inner > .jt-node-value {
  color: #808080;
}

.boolean > .jt-node-inner > .jt-node-value {
  color: #2525cc;
}

.string > .jt-node-inner > .jt-node-value {
  color: #2db669;
}

.number > .jt-node-inner > .jt-node-value {
  color: #d036d0;
}

.date > .jt-node-inner > .jt-node-value {
  color: #ce904a;
}

.null > .jt-node-inner > .jt-node-value {
  color: #8546bc;
}

.variables .group-item {
  border-radius: 0px;
}

.resources .group-item {
  border-radius: 9px;
}
