/* Tabs */

.app-tab > a > img {
  padding-right: 8px;
}

.app-tab > a {
  text-decoration: none;
  align-items: center;
  line-height: 17px;
  font-size: 14px;
  color: #606060;
  display: flex;
}

.app-tabs {
  justify-content: space-around;
  list-style: none;
  display: flex;
  flex: 1;
}

.app-tab.active {
  opacity: 1;
}

.app-tab {
  opacity: 0.5;
}

.app-header > button:hover {
  opacity: 1;
}

.app-header > button {
  margin: 0 11px;
  display: flex;
  opacity: 0.5;
}

.app-header {
  background: #f6f6f6;
  padding: 10px 15px;
  display: flex;
}

#app {
  letter-spacing: -0.2px;
  flex-flow: column;
  display: flex;
  height: 100%;
}

/* Panels */

.app-panel-content {
  overflow: auto;
  padding: 4px;
}

.app-panel-title {
  justify-content: center;
  align-items: center;
  user-select: none;
  color: #606060;
  display: flex;
  flex: 1;
}

.app-panel {
  flex-flow: column;
  overflow: hidden;
  display: flex;
  flex: 1;
}

/* Toolbar */

.app-toolbar .dropdown.open > button > svg > path {
  fill: #ffffff;
}

.app-toolbar .dropdown.open > button {
  border-color: #606060;
  background: #3d3f42;
}

.app-toolbar-panel button {
  border: 1px solid #d9d9d9;
  padding: 10px;
  display: flex;
}

.app-toolbar .dropdown {
  position: relative;
}

.app-toolbar-toggle:hover {
  opacity: 1;
}

.app-toolbar-toggle {
  justify-content: center;
  align-items: center;
  padding: 2px 0;
  display: flex;
  opacity: 0.5;
}

.app-toolbar-panel {
  margin: 0 14px;
  display: flex;
}

.app-toolbar-input:disabled {
  background: inherit;
  color: #d9d9d9;
}

.app-toolbar-input {
  border: 1px solid #d9d9d9;
  letter-spacing: -0.2px;
  background: #fff;
  line-height: 18px;
  padding: 8px 12px;
  color: #606060;
  border-right: 0;
  font-size: 14px;
  flex: 1;
}

.app-toolbar-menu > li.active > a > img {
  opacity: 1;
}

.app-toolbar-menu > li.active > a {
  opacity: 1;
}

.app-toolbar-menu > li > a > img {
  margin-left: 10px;
  width: 16px;
  opacity: 0;
}

.app-toolbar-menu > li > hr {
  border: 0;
  border-top: 1px solid #606060;
  margin: 10px 0;
}

.app-toolbar-menu > li > a {
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  padding: 3px 12px;
  color: #ffffff;
  display: flex;
  opacity: 0.5;
}

.app-toolbar-menu > li {
  line-height: 15px;
  font-size: 12px;
}

.app-toolbar-menu {
  border: 1px solid #606060;
  background: #3d3f42;
  min-width: max-content;
  position: absolute;
  list-style: none;
  margin-top: -1px;
  padding: 8px 0;
  z-index: 1;
  right: 0;
}

.app-toolbar {
  border-bottom: 1px solid #d9d9d9;
  background: #f6f6f6;
  flex-flow: column;
  display: flex;
  padding: 1px;
}

/* Callstack */

.callstack-item-param > span:first-of-type {
  color: #606060;
}

.callstack-item-param > span:last-of-type {
  color: #538fb5;
}

.callstack-item-param > span + span {
  padding-left: 8px;
}

.callstack-item-param > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.callstack-item-params {
  list-style: none;
}

.callstack-item-param {
  padding: 9px 32px;
}

.callstack-item-title {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 8px;
}

.callstack-toggle-params:hover {
  opacity: 0.5;
}

.callstack-toggle-params {
  background: transparent;
  color: #606060;
  display: flex;
}

.callstack-item-data {
  white-space: nowrap;
  padding-left: 8px;
  overflow: hidden;
  color: #538fb5;
  flex: 1;
}

.callstack-item-name {
  padding-left: 8px;
  font-weight: 600;
}

.callstack-item {
  border: 1px solid transparent;
  user-select: none;
  line-height: 18px;
  font-size: 14px;
}

.callstack-item:not(.preview) > .callstack-item-title {
  background: #d9d9d9;
}

.callstack-item:not(.preview) {
  border-color: #d9d9d9;
  background: #f6f6f6;
}

.callstack-item:hover {
  border-color: #d9d9d9;
  background: #f6f6f6;
}

.callstack-list > li + li {
  margin-top: 4px;
}

.callstack-list {
  flex-flow: column;
  list-style: none;
  display: flex;
}

/* Groups */

.group-item {
  border: 1px solid var(--group-color);
  border-radius: var(--group-br);
  background: var(--group-color);
  flex-flow: column;
  overflow: hidden;
  display: flex;
}

.group-item-controls > button + button {
  margin-left: 9px;
}

.group-item-controls > button > img {
  display: block;
}

.group-item-controls > button > svg {
  display: block;
}

.group-item-header > input:disabled {
  background: transparent;
  padding: 3px 0px;
}

.group-item-header > input {
  letter-spacing: -0.2px;
  background: #fff;
  margin-left: 8px;
  padding: 3px 8px;
  color: #606060;
  flex: 1;
}

.group-item-controls {
  display: flex;
}

.group-item-title {
  color: var(--group-color);
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 7px 0;
  display: flex;
}

.group-item-header {
  background: var(--group-color);
  align-items: center;
  padding: 0 8px 1px;
  line-height: 18px;
  min-height: 28px;
  font-size: 14px;
  color: #606060;
  display: flex;
}

.group-item-content {
  background: #fff;
  padding: 9px 0;
}

.group-list > li + li {
  margin-top: 4px;
}

/* Json tree */

.jt-node-value > .jt-node {
  margin-left: 24px;
}

.jt-node-label {
  /* user-select: none; */
}

.jt-node-value {
  /* user-select: none; */
}

.jt-node {
  display: block;
}

/* Scrollbar */

::-webkit-scrollbar-thumb {
  background: #b7b7b7;
  border-radius: 1px;
}

::-webkit-scrollbar-track {
  background: #eaeaea;
  border-radius: 0;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Placeholder */

textarea::placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

/* Sortable */

.sortable-chosen {
  opacity: 0.5;
}

.sortable-ghost {
  opacity: 0.5;
}

/* Global */

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 420px;
  height: 100%;
  width: 100%;
}

img, a {
  -webkit-user-drag: none;
  user-select: none;
}
